<div class="card my-2">
  <div class="card-body">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox1" name="inlineRadioOptions" value="option1" ng-click="rpt.showOpenTickets()">
      <label class="form-check-label" for="inlineCheckbox1">Show Open tickets</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineCheckbox2" name="inlineRadioOptions" value="option1" ng-click="rpt.showAllTickets()">
      <label class="form-check-label" for="inlineCheckbox2">Show all tickets</label>
    </div>
    <button type="button" class="btn btn-info float-right" ng-click="rpt.exportToExcel()">Export to Excel</button>
  </div>
</div>
<div class="my-1">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Reported Date</th>
        <th scope="col">Report Source</th>
        <th scope="col">Application</th>
        <th scope="col">LOB</th>
        <th scope="col">Policy Number</th>
        <th scope="col" style="background-color:#b2cfff;">Insured Name</th>
        <th scope="col">Tran Type</th>
        <th scope="col">Failure Catgory</th>
        <th scope="col">Comment</th>
        <th scope="col">Status</th>
        <th scope="col">Closure Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ticket in rpt.ticketList track by $index">
        <td>{{ticket.id}}</td>
        <td>{{ticket.reported_date}}</td>
        <td>{{ticket.failure_identification_source}}</td>
        <td>{{ticket.application_name}}</td>
        <td>{{ticket.lob}}</td>
        <td>{{ticket.policy_number}}</td>
        <td style="background-color:#b2cfff;">{{ticket.insured_name}}</td>
        <td>{{ticket.transaction_type}}</td>
        <td class="d-flex">
          <div class="dropdown">
            <button style="width:150px;overflow: hidden;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdowncat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ticket.failure_category}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdowncat">
              <button class="dropdown-item" type="button" ng-click="rpt.changeRca(ticket.id,cat,'CAT')" ng-repeat="cat in rpt.categories" ng-if="ticket.failure_category != cat" >{{cat}}</button>
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalLong_{{$index}}">Notes
          </button>
          <div class="modal fade" id="exampleModalLong_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle_{{$index}}">NOTES</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" ng-repeat="comment in ticket.comment.split('\n')">
                  <p>{{ comment }}</p>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <textarea class="form-control" rows="5" placeholder="Enter comment"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="d-flex">
          <div class="dropdown">
            <button style="width:100px;overflow: hidden;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ticket.ticket_status}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" ng-click="rpt.changeStatus(ticket.id,'OPEN','STATUS')" ng-if="ticket.ticket_status != 'OPEN'" type="button">OPEN</button>
              <button class="dropdown-item" ng-click="rpt.changeStatus(ticket.id,'PENDING WITH DUCK','STATUS')" ng-if="ticket.ticket_status != 'PENDING WITH DUCK'" type="button">PENDING WITH DUCK</button>
              <button class="dropdown-item" ng-click="rpt.changeStatus(ticket.id,'PENDING WITH GENIUS','STATUS')" ng-if="ticket.ticket_status != 'PENDING WITH GENIUS'" type="button">PENDING WITH GENIUS</button>
              <button class="dropdown-item" ng-click="rpt.changeStatus(ticket.id,'PENDING WITH INTEGRATION','STATUS')" ng-if="ticket.ticket_status != 'PENDING WITH INTEGRATION'" type="button">PENDING WITH INTEGRATION</button>
              <button class="dropdown-item" ng-click="rpt.changeStatus(ticket.id,'CLOSED','STATUS')" ng-if="ticket.ticket_status != 'CLOSED'" type="button">CLOSED</button>
            </div>
          </div>
        </td>

        <td>{{ticket.closure_date}}</td>
      </tr>
    </tbody>
  </table>
</div>

